<div class="container">
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Web Design 
                <small>projects</small>
            </h1>
        </div>
    </div>
    
    <% @websites.each do |website| %>
	<div class="row">
	    <div class="col-md-7", id=<%= website.title + "_col" %>>
		<%= link_to(website.site_url) do %>
		    <%= image_tag website.logo_link, id: website.title + "_img", class: "img-responsive" %>
		<% end %>
	    </div>
	    <div class="col-md-5">
		<h3><%= website.title %></h3>
		<h4><%= website.subtitle %></h4>
		<p><%= website.body %></p>
		<br>
		<%= link_to(website.site_url, class: "btn btn-primary") do %>
		    View Site<i class="fa fa-arrow-right"></i>
		<% end %>
	    </div>
	</div>
	<hr>
    <% end %>
</div>
