<div class="row">
    <div class="col-md-4 col-md-offset-4">
	<%= form_for @writing do |f| %>
	    <%= f.label :title %>
	    <%= f.text_field :title, class: 'form-control' %>
	    
	    <%= f.label :url %>
	    <%= f.text_field :url, class: 'form-control' %>
	    
	    <%= f.submit "Update", class: "btn btn-primary" %>
	<% end %>
    </div>
</div>
