<div class="row-fluid">
    <div class="col-md-10 col-md-offset-1">
	<div id="head" class="header2 text-vertical-center">
	    <h1>Devon Wells</h1>
	</div>
	<hr class="small">
	<div class="row-fluid">
	    <!-- Headings -->
	    <div id="web_head" class="col-md-4 text-vertical-center nav_head">
		<a><h2>Web Design</h2></a>
	    </div>
	    <div id="art_head" class="col-md-4 text-vertical-center nav_head">
		<a><h2>Digital Art</h2></a>
	    </div>
	    <div id="writing_head" class="col-md-4 text-vertical-center nav_head">
		<a><h2>Writing</h2></a>
	    </div>
	    
	    <!-- Content -->
	    <div id="content" class="row-fluid">
		<!-- Web Design -->
		<div id="web" class="col-md-10 col-md-offset-1">
		    <% @websites.each do |website| %>
			<div class="row">
			    <div class="col-md-5", id=<%= website.title + "_col" %>>
				<%= link_to(website.site_url) do %>
				    <%= image_tag website.logo_link, id: website.title + "_img", class: "img-responsive img-rounded" %>
				<% end %>
			    </div>
			    <div class="col-md-7">
				<h3><%= website.title %></h3>
				<h4><%= website.subtitle %></h4>
				<p><%= simple_format(website.body) %></p>
				<br>
				<%= link_to(website.site_url, class: "btn btn-primary") do %>
				    View Site<i class="fa fa-arrow-right"></i>
				<% end %>
			    </div>
			</div>
			<hr>
		    <% end %>
		</div>
		
		<!-- Digital Art -->
		<div id="art" class="col-md-10 col-md-offset-1 text-vertical-center">
		    <% @images.each do |image| %>
			<div class="col-lg-3 col-md-4 col-xs-6 thumb">
			    <% pic = "gallery/#{image.split('/').last}" %>
			    <%= link_to image_path(pic), { :class => "thumbnail"} do %>
				<%= image_tag pic, alt: pic %>
			    <% end %>
			</div>
		    <% end %>
		</div>
		
		<!-- Writing -->
		<div id="writing" class="col-md-10 col-md-offset-1 text-vertical-center">
		    <div class="col-md-12">
			<h2><%= @post.title %></h2>
			<br>
			<div class="text-vertical-left"><%= simple_format(@post.body) %></div>
			<br>
			<h4><%= @post.created_at.strftime("%d %b. %Y") %></h4>
			<%= link_to "more posts", "/posts"%>
			<hr>
		    </div>
		    
		    <% @writings.each do |writing| %>
			<div class="row-fluid">
			    <div class="col-md-12">
				<iframe src=<%= writing.url %> style="width:748px; height:748px; overflow-y: hidden" frameborder="0" scrolling="no" seamless="seamless"></iframe>
			    </div>
			</div>
		    <% end %>
		</div>
	    </div>
	</div>
    </div>
</div>
